@use '~/src/scss/abstracts/' as abs;
.profile {
    margin-bottom: 100px;
}
.inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner {
    display: flex;
    overflow: hidden;
    margin: 20px 240px;
    @include abs.screen(lg) {
        margin: 20px 120px;
    }
    @include abs.screen(md) {
        margin: 20px 80px;
    }
    @include abs.screen(sm) {
        margin: 20px 0px;
    }
}
.banner-inner {
    position: relative;
    padding-top: 50%;
    width: 100%;
    height: 100%;
}
.warning {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    object-fit: cover;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
    .title {
        font-size: 3rem;
        font-weight: 600;
        color: rgb(201, 15, 15);
        @include abs.screen(md) {
            font-size: 2.6rem;
        }
    }
    .desc {
        display: flex;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 400;
        @include abs.screen(md) {
            font-size: 1.4rem;
        }
        @include abs.screen(sm) {
            width: 100%;
        }
    }
}
