@use '~/src/scss/abstracts/' as abs;

.menu-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 0px;
    cursor: pointer;
    color: var(--text-color);
    transition: ease 0.3s;
    @include abs.screen(xl) {
        display: none;
    }
    &:hover {
        color: var(--text-hover);
        .menu-arrow {
            transform: rotate(90deg);
        }
    }
    @include abs.screen(md) {
        &:hover .items-wrapper {
            display: none;
        }
    }
}

.menu-arrow {
    transition: ease 0.3s;
}
.menu-heading {
    font-size: 1.6rem;
    font-weight: 400;
}

.items-wrapper {
    min-width: 125px;
    padding: 10px;
    background-color: #191919;
    border-radius: 4px;
    display: flex;
    align-items: center;
    @include abs.screen(xl) {
        min-width: 200px;
    }
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}
.nav-link {
    width: 100%;
}
.menu-wrap--mobile {
    display: none;
    @include abs.screen(xl) {
        display: flex;
        margin-bottom: 10px;
    }
    &:hover {
        color: #fff;
        .menu-arrow {
            transform: none;
        }
    }
    &.active {
        color: var(--text-hover);
        .menu-arrow {
            transform: rotate(90deg);
        }
    }
}
.nav-item {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    &.active {
        display: flex;
    }
}
.nav-link--mobile {
    border-bottom: 1px solid #5b5b5b;
}
