@use '~/src/scss/abstracts/' as abs;
.NFT {
    margin-bottom: 94px;
}
.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    max-width: 524px;
    margin-bottom: 60px;
    @include abs.screen(lg) {
        font-size: 4rem;
    }
    @include abs.screen(md) {
        font-size: 3rem;
    }
}
.nav-wrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #2d2c2c;
        bottom: 0;
    }
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #d2d2d2;
    @include abs.screen(md) {
        gap: 16px;
    }
}
.order {
    display: flex;
    align-items: center;
    gap: 16px;
    @include abs.screen(md) {
        font-size: 1.2rem;
        font-weight: 400;
    }
}
.short,
.order {
    padding-bottom: 18px;
    @include abs.screen(md) {
        font-size: 1.2rem;
        font-weight: 400;
    }
}
.order {
    cursor: pointer;
}
.nft,
.desc {
    padding-bottom: 18px;
    @include abs.screen(md) {
        font-size: 1.2rem;
        font-weight: 400;
    }
    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        height: 1px;
        background-color: #054b23;
        bottom: 0;
        left: 0;
    }
    &:hover {
        &::after {
            animation: slice 0.4s ease;
            width: 100%;
        }
        text-shadow: 1px 0px #ffffff;
    }
    cursor: pointer;
    position: relative;
    &.active {
        &::after {
            background-color: #009740;
            width: 100%;
        }
        text-shadow: 1px 0px #ffffff;
    }
}
@keyframes slice {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.items {
    width: 100%;
}
.item-wrapper {
    margin: 0px 70px;
    @include abs.screen(lg) {
        margin: 0 !important;
    }
}
.nav-more {
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    @include abs.screen(md) {
        width: 150px;
    }
    .list {
        display: flex;
        flex-direction: column;
    }
    .item {
        padding: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        transition: ease 0.4s;
        cursor: pointer;
        &:hover {
            color: #009740;
        }
        @include abs.screen(md) {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}
.short-wrap {
    padding-bottom: 18px;
}

// Dropdown
.wrap {
    background-color: #212127;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    @include abs.screen(sm) {
        width: calc(100vw - 30px);
    }
    .heading-drop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        .title {
            font-size: 3rem;
            font-weight: 600;
        }
        .icon {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }
    .info-drop {
        margin-top: 20px;
        font-size: 1.8rem;
    }
    .icons-drop {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 30px 0px;
        .icon-wrap {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .icon {
        width: 30px;
        height: 30px;
        object-fit: contain;
        cursor: pointer;
        transition: ease 0.4;
        &:hover {
            opacity: 0.4;
        }
    }
    .icon--close {
        padding: 10px;
    }
    .desc-drop {
        font-size: 1.8rem;
    }
}
