.wrap {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 15px 0px;
    padding-left: 44px;
    transition: ease 0.3s;
    cursor: pointer;
    &:hover {
        background-color: #686767;
    }
}
.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.name {
    font-size: 1.5rem;
    font-weight: 500;
}
.nickname {
    font-size: 1.2rem;
    font-weight: 400;
    color: #7a7a7a;
}
