.item {
    background-color: #212127;
    border-radius: 10px;
    overflow: hidden;
}

.heading {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 18px 0px 12px 20px;

    .heading-img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    .name {
        font-size: 1.8rem;
        font-weight: 400;
    }
}
.banner {
    width: 100%;
}
.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    padding: 20px;
    .title {
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: 500;
        margin-top: 10px;
    }
}
.user-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .wrap-own {
        display: flex;
        flex-direction: column;
        gap: 17px;
        .user-info-wrap {
            display: flex;
            align-items: center;
            gap: 4px;
            .user-img {
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
            .user-name {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
}
.sub-desc,
.price-desc {
    font-size: 1.6rem;
    font-weight: 400;
    color: #b6b6b6;
}
.btn {
    display: flex;
    padding: 7px;
    margin-left: auto;
    width: 100%;
    & span {
        font-size: 1.6rem;
        font-weight: 400;
    }
}
.price-wrap {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
